@import './variables.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: $accent-color;
}

.main-container{
  background-color: $base-color;
  padding-bottom: 100px;
  min-height: 100vh;
}

//Main image and title
.hero{
  background-image: url('../images/hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100vw;
  position: relative;
  h2{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 100px;
    color: #ffff;
  }
}

//Loading text before data is displayed
.loading{
  position: absolute;
  top: 90vh;
}

//Search field and pop-up text
.search-container{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 10px;
  height: 10vh;
  form{
    display: flex;
    background-color: $base-color;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    padding: 10px 20px;
    order: 0;
  }
  input{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid $accent-color;
    border-radius: 5px;
  }
  input:focus{
    border: none;
    outline: 2px solid $accent-color;
  }
  button{
    width: 90px;
    height: 42px;
    margin: 8px -2px 8px 5px;
    border: none;
    background: none;
    font-size: large;
  }
  button:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  h3{
    font-size: medium;
    position: relative;
    margin-top: 30px;
  }
}

//product overview & display
.overview-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .product-container{
    background-color: #ffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 450px;
    border-radius: 5px;
    border-bottom: 2px solid $accent-color;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 6px 2px;
    img{
      width: 350px;
    }
    .product-info{
      padding: 10px;
      height: 100%;
      h2, h3{
        text-align: center;
        height: 50%;
      }
      h3{
        color: $main-color;
        padding-top: 18px;
      }
    }
  }
  .product-container:hover{
    background-color: #b0d5e6;
    cursor: pointer;
  }
}

//Media breakpoint: Mobile
@media screen and (max-width: 480px){
  .loading{
    top: 80vh
  }
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    h2{
      font-size: 80px;
      position: relative;
      top: 0;
      left: 0;
      text-align: center;
    }
  }
  .search-container{
    form{
    padding: 5px 12px;
    input{
      width: 250px;
    }
    button{
      width: 80px;
      margin: 8px 0;
    }
    }
  }
}